on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: dockerfile/Dockerfile.backend
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/bits-de-cipher-backend:prod
          build-args: |
            DATABASE_URL=${{ secrets.PROD_DATABASE_URL }}
            GOOGLE_CLIENT_ID=${{ secrets.PROD_GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ secrets.PROD_GOOGLE_CLIENT_SECRET }}

      - name: Deploy to Development Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_SERVER_HOST }}
          username: ${{ secrets.PROD_SERVER_USERNAME }}
          key: ${{ secrets.PROD_SERVER_SSH_KEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/bits-de-cipher-backend:prod 
            # Use the EXACT name you defined in the --name flag below
            sudo docker stop bits-de-cipher-backend || true
            sudo docker rm bits-de-cipher-backend || true
            sudo docker run -d -p 5000:5000 --name bits-de-cipher-backend \
              -e DATABASE_URL="${{ secrets.PROD_DATABASE_URL }}" -e FRONTEND_URL="${{ secrets.PROD_FRONTEND_URL }}" -e GOOGLE_CLIENT_ID="${{ secrets.PROD_GOOGLE_CLIENT_ID }}" -e GOOGLE_CLIENT_SECRET="${{ secrets.PROD_GOOGLE_CLIENT_SECRET }}" \
              ${{ secrets.DOCKER_HUB_USERNAME }}/bits-de-cipher-backend:prod
    